In [2]:
import pandas as pd

df = pd.read_csv('Mall_Customers.csv')

df.columns = ['customer_id', 'gender', 'age', 'annual_income_k', 'spending_score']

print("Missing values before cleaning:")
print(df.isnull().sum())

df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

df['gender'] = df['gender'].str.lower().str.strip()
df['gender_encoded'] = df['gender'].map({'male': 0, 'female': 1})

df['age'] = df['age'].astype(int)
df['annual_income_k'] = df['annual_income_k'].astype(int)
df['spending_score'] = df['spending_score'].astype(int)

print("Cleaned Dataset Snapshot:")
print(df.head())

df.to_csv('mall_customers_cleaned.csv', index=False)

Missing values before cleaning:
customer_id        0
gender             0
age                0
annual_income_k    0
spending_score     0
dtype: int64
Cleaned Dataset Snapshot:
   customer_id  gender  age  annual_income_k  spending_score  gender_encoded
0            1    male   19               15              39               0
1            2    male   21               15              81               0
2            3  female   20               16               6               1
3            4  female   23               16              77               1
4            5  female   31               17              40               1